
<div class="row" ng-app="myapp" ng-controller="signup">
<div class="container cont" id="a1" >
  <form action="#">
    <div class="">

      <div class="container cont">
      <h2 style="text-align:center;" class="restext" >Upload a Book</h2>
      </div>

     

      <div style="max-width: 400px;margin:auto;">
        <input type="text" name="title" placeholder="Book Title" required>
        <input type="text" name="author" placeholder="Author"  required>
        <input type="text" name="pages" placeholder="Total pages"  required>
        <input type="text" name="year" placeholder="Year of publication" required>

        <br><br>

        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         Enter Category:
         <span class="caret"></span>
        </button>
         <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
         <li><a href="#">Computer science</a></li>
         <li><a href="#">Civil</a></li>
         <li><a href="#">Information science</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Separated link</a></li>
          </ul>
        </div>

         <br>

        <!-- <input type="file" name="image"  ng-model="VendorsObject.Image" />  -->
       

      <label class="btn btn-success">
        Browse book image
      <input type="file" file-model="file.upload" name="myfile" ng-disabled="uploading" style="display: none">
      </label>

      <label class="btn btn-success">
        Browse PDF of book
      <input type="file" file-model="file.upload" name="book_pdf" ng-disabled="uploading" style="display: none">
      </label>


      <br>
       <!-- progess -->
    <div ng-show="uploading" class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"  aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only"></span>
    </div>
    </div>

    <br>
        <!--  -->

         <div ng-show="message">
          <div ng-class="alert">{{message}}</div>
        </div>

        <input type="submit" ng-click="submit()" value="Signup">   
      </div>



      
    </div>
  </form>
</div>
</div>

